$breakpoints: (
  "xs": "575px",
  "sm": "767px",
  "md": "991px",
  "lg": "1199px",
  "xl": "1439px",
);

// Colors
$background: #353849;
$text: #ffffff;
$primary: #03cc90;
$secondary: #232734;
$accent: #3f4354;
